Repository eoscostarica/supply-chain-poc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{css,less,scss,graphql,gql,html,jsx,json,md,markdown,mdown,mkdn,mdx,ts,tsx,vue,yaml,yml}": "prettier --write",
  "*.js": "eslint --fix"
}

fix(admin home): order info breakpoints and fix admin home (#176)
  webapp/src/components/AssetInfo.js
  webapp/src/components/BarChart.js
  webapp/src/routes/AdminHome.js
  webapp/src/utils/admin-home-data-modeled.js
Due: eslint --fix

feat: implement queue process for assets creation
  .env.example
  .gitignore
  docker-compose.yaml
  hapi/package.json
  hapi/src/config/index.js
  hapi/src/config/rabbitmq.config.js
  hapi/src/config/simpleassets.config.js
  hapi/src/index.js
  hapi/src/services/asset.service.js
  hapi/src/services/vaccine.service.js
  hapi/src/utils/index.js
  hapi/src/utils/rabbitmq.util.js
  hapi/src/utils/simpleassets.util.js
  hapi/yarn.lock
  makefile
  rabbitmq/Dockerfile
  rabbitmq/LICENSE
  rabbitmq/enabled_plugins
  rabbitmq/makefile
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/AssetInfo.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/es.json
  webapp/src/routes/index.js
  webapp/src/utils/get-asset-fields.js
Due: prettier --write, eslint --fix

feat: implement queue process for assets creation (#177)
  .env.example
  .gitignore
  docker-compose.yaml
  hapi/package.json
  hapi/src/config/index.js
  hapi/src/config/rabbitmq.config.js
  hapi/src/config/simpleassets.config.js
  hapi/src/index.js
  hapi/src/services/asset.service.js
  hapi/src/services/vaccine.service.js
  hapi/src/utils/index.js
  hapi/src/utils/rabbitmq.util.js
  hapi/src/utils/simpleassets.util.js
  hapi/yarn.lock
  makefile
  rabbitmq/Dockerfile
  rabbitmq/LICENSE
  rabbitmq/enabled_plugins
  rabbitmq/makefile
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/AssetInfo.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/es.json
  webapp/src/routes/index.js
  webapp/src/utils/get-asset-fields.js
Due: prettier --write, eslint --fix

fix(UI): UI fixes
  webapp/src/components/CreateGS1AssetsForm.js
  webapp/src/components/Header.js
  webapp/src/components/LoginModal.js
  webapp/src/components/MapEditLocation.js
  webapp/src/components/MapShowLocations.js
  webapp/src/components/UpdateAssets.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/AdminHome.js
Due: prettier --write, eslint --fix

devops(rabbitmq): add rabbitmq kubernetes deployment
  kubernetes/rabbitmq-deployment.yaml
  makefile
Due: prettier --write

devops(rabbitmq): add rabbitmq config folder
  makefile
  rabbitmq/config/enabled_plugins
Due: none

devops(rabbitmq): add rabbitmq port names
  kubernetes/rabbitmq-deployment.yaml
Due: prettier --write

devops(rabbitmq): update enabled plugins file
  .env.example
  kubernetes/rabbitmq-deployment.yaml
Due: prettier --write

devops(rabbitmq): add new hapi env vars
  kubernetes/hapi-deployment.yaml
Due: prettier --write

feat(api): add endpoint to burn assets
  hapi/src/routes/burn-assets.route.js
  hapi/src/routes/index.js
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
Due: prettier --write, eslint --fix

feat(api): add endpoint to burn assets (#181)
  hapi/src/routes/burn-assets.route.js
  hapi/src/routes/index.js
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
Due: prettier --write, eslint --fix

devops(rabbitmq): remove replicas and readiness probe
  kubernetes/hapi-deployment.yaml
  kubernetes/hasura-deployment.yaml
  kubernetes/webapp-deployment.yaml
Due: prettier --write

fix: blank page in home when exits vaccines with status 'offer_created'
  webapp/src/utils/admin-home-data-modeled.js
Due: eslint --fix

fix(UI): UI fixes
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/AssetInfo.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/About.js
  webapp/src/routes/Inventory.js
  webapp/src/utils/asset-info-format.js
Due: prettier --write, eslint --fix

fix(UI): remove console logs
  webapp/src/components/AssetInfo.js
Due: eslint --fix

devops(rabbitmq): add rabbitmq kubernetes deployment (#179)
  .env.example
  kubernetes/hapi-deployment.yaml
  kubernetes/hasura-deployment.yaml
  kubernetes/rabbitmq-deployment.yaml
  kubernetes/webapp-deployment.yaml
  makefile
  rabbitmq/config/enabled_plugins
Due: prettier --write

UI fixes (#191)
  webapp/src/components/AccordionTreeView.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/About.js
  webapp/src/routes/Inventory.js
  webapp/src/utils/asset-info-format.js
Due: prettier --write, eslint --fix

fix(inventory): show actions available when pallet had been created
  rabbitmq/Dockerfile
  webapp/src/components/AssetInfo.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/utils/asset-info-format.js
Due: prettier --write, eslint --fix

fix(inventory): show actions available when pallet had been created (#194)
  rabbitmq/Dockerfile
  webapp/src/components/AssetInfo.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/utils/asset-info-format.js
Due: prettier --write, eslint --fix

fix: vaccination process
  docker-compose.yaml
  hapi/src/services/asset.service.js
  hapi/src/services/vaccine.service.js
  hapi/src/utils/rabbitmq.util.js
  hapi/src/utils/simpleassets.util.js
  hasura/metadata/actions.yaml
  webapp/src/components/CreateGS1AssetsForm.js
  webapp/src/gql/organization.gql.js
  webapp/src/routes/Inventory.js
Due: prettier --write, eslint --fix

chore: add translations
  webapp/src/language/en.json
  webapp/src/language/es.json
Due: prettier --write

fix: vaccination process (#197)
  docker-compose.yaml
  hapi/src/services/asset.service.js
  hapi/src/services/vaccine.service.js
  hapi/src/utils/rabbitmq.util.js
  hapi/src/utils/simpleassets.util.js
  hasura/metadata/actions.yaml
  webapp/src/components/CreateGS1AssetsForm.js
  webapp/src/gql/organization.gql.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
Due: prettier --write, eslint --fix

fix(FE): form validations styles
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/AssetInfo.js
  webapp/src/components/CreateBatch.js
  webapp/src/components/CreateGS1AssetsForm.js
  webapp/src/components/CreateOffer.js
  webapp/src/components/ManufacturerForm.js
  webapp/src/components/OrganizationForm.js
  webapp/src/components/ProductForm.js
  webapp/src/components/UpdateAssets.js
  webapp/src/utils/asset-info-format.js
Due: eslint --fix

fix(FE): remove console log
  webapp/src/utils/asset-info-format.js
Due: eslint --fix

Form validations styles (#198)
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/AssetInfo.js
  webapp/src/components/CreateBatch.js
  webapp/src/components/CreateGS1AssetsForm.js
  webapp/src/components/CreateOffer.js
  webapp/src/components/ManufacturerForm.js
  webapp/src/components/OrganizationForm.js
  webapp/src/components/ProductForm.js
  webapp/src/components/UpdateAssets.js
Due: eslint --fix

Form validations styles (#198) (#199)
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/AssetInfo.js
  webapp/src/components/CreateBatch.js
  webapp/src/components/CreateGS1AssetsForm.js
  webapp/src/components/CreateOffer.js
  webapp/src/components/ManufacturerForm.js
  webapp/src/components/OrganizationForm.js
  webapp/src/components/ProductForm.js
  webapp/src/components/UpdateAssets.js
Due: eslint --fix

feat: add optional env variable HAPI_EOS_PROXY_ACTION to can work with custom networks like LACChain
  .env.example
  docker-compose.yaml
  hapi/src/config/eos.config.js
  hapi/src/utils/eos.util.js
Due: prettier --write, eslint --fix

feat: add support for lachain network
  .env.example
  .github/workflows/push-prod-environment.yaml
  docker-compose.yaml
  hapi/src/config/eos.config.js
  hapi/src/services/asset.service.js
  hapi/src/utils/eos.util.js
  hasura/seeds/1608588580741_vault_seed.sql
  kubernetes/hapi-deployment.yaml
Due: prettier --write, eslint --fix

support for lacchain network (#203)
  .env.example
  .github/workflows/push-prod-environment.yaml
  docker-compose.yaml
  hapi/src/config/eos.config.js
  hapi/src/services/asset.service.js
  hapi/src/utils/eos.util.js
  hasura/seeds/1608588580741_vault_seed.sql
  kubernetes/hapi-deployment.yaml
Due: prettier --write, eslint --fix

Migrate Smart Contracts to LAC Chain (#205)
  .env.example
  .github/workflows/push-prod-environment.yaml
  docker-compose.yaml
  hapi/src/config/eos.config.js
  hapi/src/services/asset.service.js
  hapi/src/utils/eos.util.js
  hasura/seeds/1608588580741_vault_seed.sql
  kubernetes/hapi-deployment.yaml
Due: prettier --write, eslint --fix

fix(lacchain): add missing variables for lacchain testnet
  .env.example
  kubernetes/hapi-deployment.yaml
Due: prettier --write

Add automatic kubernetes deployment
  .env.example
  .github/workflows/push-prod-environment.yaml
Due: prettier --write

Add local block explorer
  .env.example
Due: none

Add block explorer URL
  .env.example
  .github/workflows/push-prod-environment.yaml
Due: prettier --write

Fix/add missing env var (#206)
  .env.example
  kubernetes/hapi-deployment.yaml
Due: prettier --write

Add kubernetes deploy workflow (#207)
  .env.example
  .github/workflows/push-prod-environment.yaml
Due: prettier --write

Create Automatic Releases from Tags
  .env.example
  .github/workflows/push-prod-environment.yaml
Due: prettier --write

Create automatic releases (#208)
  .env.example
  .github/workflows/push-prod-environment.yaml
Due: prettier --write

Remove YQ from makefiles
  .github/workflows/push-prod-environment.yaml
  makefile
Due: prettier --write
