Repository eoscostarica/supply-chain-poc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(baas): Rename script
  contracts/install-inmutrust.sh
Due: none

feat: implement vaccination form
  hapi/src/routes/vaccination.route.js
  hapi/src/services/person.service.js
  hapi/src/services/vaccine.service.js
  hapi/src/services/vault.service.js
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
  hasura/migrations/1609763796231_create_table_public_vaccination/up.sql
  hasura/migrations/1609943796231_create_table_public_vaccination/down.sql
  hasura/migrations/1609943796231_create_table_public_vaccination/up.sql
  makefile
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/ClaimOffer.js
  webapp/src/components/CreateBatch.js
  webapp/src/components/CreateOrder.js
  webapp/src/components/ListItems.js
  webapp/src/components/Modal.js
  webapp/src/components/OrderInfo.js
  webapp/src/components/Vaccinate.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
  webapp/src/theme/typography.js
  webapp/src/utils/modeled-data.js
Due: prettier --write, eslint --fix

Feature/vaccination (#90)
  hapi/src/routes/create-batch.route.js
  hapi/src/routes/create-order.route.js
  hapi/src/routes/index.js
  hapi/src/routes/vaccination.route.js
  hapi/src/services/asset.service.js
  hapi/src/services/index.js
  hapi/src/services/person.service.js
  hapi/src/services/vaccine.service.js
  hapi/src/services/vault.service.js
  hapi/src/utils/simpleassets.util.js
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
  hasura/migrations/1609865383288_create_table_public_person/down.sql
  hasura/migrations/1609865383288_create_table_public_person/up.sql
  hasura/migrations/1609943796231_create_table_public_vaccination/down.sql
  hasura/migrations/1609943796231_create_table_public_vaccination/up.sql
  hasura/seeds/1608588356992_user_seed.sql
  hasura/seeds/1608588580741_vault_seed.sql
  makefile
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/ClaimOffer.js
  webapp/src/components/CreateBatch.js
  webapp/src/components/CreateOffer.js
  webapp/src/components/CreateOrder.js
  webapp/src/components/ListItems.js
  webapp/src/components/Modal.js
  webapp/src/components/OrderInfo.js
  webapp/src/components/Tabs.js
  webapp/src/components/Vaccinate.js
  webapp/src/gql/asset.gql.js
  webapp/src/gql/index.js
  webapp/src/gql/person.gql.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
  webapp/src/routes/index.js
  webapp/src/theme/typography.js
  webapp/src/utils/modeled-data.js
Due: prettier --write, eslint --fix

feat(baas): change seeds
  .env.example
  hasura/seeds/1608588580741_vault_seed.sql
Due: none

feat(baas): Add blockchain install script (#88)
  contracts/install-inmutrust.sh
  contracts/last.nft
  contracts/simpleassets/SimpleAssets.abi
  contracts/simpleassets/SimpleAssets.wasm
Due: none

feat(): filters
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/CreateBatch.js
  webapp/src/components/DetachAssets.js
  webapp/src/components/Filter.js
  webapp/src/components/Modal.js
  webapp/src/components/OrderInfo.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
  webapp/src/utils/asset-info-format.js
Due: prettier --write, eslint --fix

fix(): code factor review
  webapp/src/components/AccordionTreeView.js
Due: eslint --fix

feat: vaccination certificate
  .env.example
  docker-compose.yaml
  hapi/src/config/simpleassets.config.js
  hapi/src/services/asset.service.js
  hapi/src/services/vaccine.service.js
  hasura/metadata/actions.graphql
  hasura/metadata/tables.yaml
  webapp/Dockerfile
  webapp/package.json
  webapp/public/nft.png
  webapp/src/components/OrderInfo.js
  webapp/src/components/Vaccinate.js
  webapp/src/config/main.config.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
  webapp/src/routes/VaccinationCertificate.js
  webapp/src/routes/index.js
  webapp/src/theme/typography.js
  webapp/src/utils/format-date.js
  webapp/src/utils/index.js
  webapp/yarn.lock
Due: prettier --write, eslint --fix

feat: add env variable for block explorer
  .env.example
  docker-compose.yaml
  hasura/metadata/actions.yaml
  hasura/seeds/1608588580741_vault_seed.sql
  webapp/Dockerfile
  webapp/src/components/ClaimOffer.js
  webapp/src/components/CreateOffer.js
  webapp/src/components/DetachAssets.js
  webapp/src/components/UpdateAssets.js
  webapp/src/config/main.config.js
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
Due: prettier --write, eslint --fix

feat: add env variable for block explorer (#98)
  .env.example
  docker-compose.yaml
  hasura/metadata/actions.yaml
  hasura/seeds/1608588580741_vault_seed.sql
  webapp/Dockerfile
  webapp/src/components/ClaimOffer.js
  webapp/src/components/CreateOffer.js
  webapp/src/components/DetachAssets.js
  webapp/src/components/UpdateAssets.js
  webapp/src/config/main.config.js
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
Due: prettier --write, eslint --fix

feat: add asset history
  hapi/src/routes/asset-history.js
  hapi/src/routes/index.js
  hapi/src/services/asset.service.js
  hapi/src/services/history.service.js
  hapi/src/services/index.js
  hapi/src/services/person.service.js
  hapi/src/services/user.service.js
  hapi/src/services/vaccine.service.js
  hapi/src/utils/eos.util.js
  hapi/src/utils/jwt.util.js
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
  hasura/migrations/1610376346042_create_table_public_history/down.sql
  hasura/migrations/1610376346042_create_table_public_history/up.sql
  webapp/src/components/AssetHistory.js
  webapp/src/components/CreateOrder.js
  webapp/src/components/OrderInfo.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
Due: prettier --write, eslint --fix

fix: codefactor issue
  webapp/src/components/AssetHistory.js
Due: eslint --fix

feat: add asset history (#100)
  hapi/src/routes/asset-history.js
  hapi/src/routes/index.js
  hapi/src/services/asset.service.js
  hapi/src/services/history.service.js
  hapi/src/services/index.js
  hapi/src/services/person.service.js
  hapi/src/services/user.service.js
  hapi/src/services/vaccine.service.js
  hapi/src/utils/eos.util.js
  hapi/src/utils/jwt.util.js
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
  hasura/migrations/1610376346042_create_table_public_history/down.sql
  hasura/migrations/1610376346042_create_table_public_history/up.sql
  webapp/src/components/AssetHistory.js
  webapp/src/components/CreateOrder.js
  webapp/src/components/OrderInfo.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
Due: prettier --write, eslint --fix

fix(): update i18n add mapbox
  webapp/package.json
  webapp/public/index.html
  webapp/src/components/ClaimOffer.js
  webapp/src/components/CreateOffer.js
  webapp/src/components/DetachAssets.js
  webapp/src/components/Filter.js
  webapp/src/components/MapEditLocation.js
  webapp/src/components/MapSelectLocation.js
  webapp/src/components/UpdateAssets.js
  webapp/src/components/Vaccinate.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
  webapp/yarn.lock
Due: prettier --write, eslint --fix

fix(): add dashboard
  webapp/package.json
  webapp/public/index.html
  webapp/src/components/BarChart.js
  webapp/src/components/ListItems.js
  webapp/src/components/MapEditLocation.js
  webapp/src/components/PieChart.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/AdminHome.js
  webapp/yarn.lock
Due: prettier --write, eslint --fix

fix(): remove console log
  webapp/src/components/UpdateAssets.js
Due: eslint --fix

refactor: order info and create assets in background process
  hapi/src/services/vaccine.service.js
  hasura/metadata/tables.yaml
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/AssetInfo.js
  webapp/src/components/CreateBatch.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
  webapp/src/utils/modeled-data.js
Due: prettier --write, eslint --fix

fix(): solve filter issue
  webapp/src/components/ClaimOffer.js
  webapp/src/routes/Inventory.js
  webapp/src/utils/modeled-data.js
Due: eslint --fix

fix(): solved UI/UX issues
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/AssetInfo.js
  webapp/src/language/en.json
  webapp/src/language/es.json
Due: prettier --write, eslint --fix

feat: list and edit manufacturers
  hapi/src/services/asset.service.js
  hasura/metadata/tables.yaml
  hasura/migrations/1611068340929_alter_table_public_manufacturer_add_column_data/down.sql
  hasura/migrations/1611068340929_alter_table_public_manufacturer_add_column_data/up.sql
  webapp/src/components/InfoBox.js
  webapp/src/components/ListItems.js
  webapp/src/components/ManufacturerForm.js
  webapp/src/components/ManufacturerInfo.js
  webapp/src/gql/manufacturer.gql.js
  webapp/src/language/es.json
  webapp/src/layouts/MasterDetail.js
  webapp/src/routes/Manufacturers.js
  webapp/src/routes/index.js
Due: prettier --write, eslint --fix

feat: add manufacturer
  webapp/src/components/ManufacturerInfo.js
  webapp/src/gql/manufacturer.gql.js
  webapp/src/language/es.json
  webapp/src/routes/Manufacturers.js
Due: prettier --write, eslint --fix

feat: allow add and edit products
  hasura/metadata/tables.yaml
  webapp/src/components/ArrayTextField.js
  webapp/src/components/AssetInfo.js
  webapp/src/components/ManufacturerInfo.js
  webapp/src/components/ProductForm.js
  webapp/src/gql/manufacturer.gql.js
  webapp/src/language/es.json
  webapp/src/routes/Manufacturers.js
Due: prettier --write, eslint --fix

feat: add gs1 codes to asset mdata
  webapp/src/components/AssetHistory.js
  webapp/src/components/UpdateAssets.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/es.json
Due: prettier --write, eslint --fix

fix: codefactor issues
  webapp/.eslintrc
Due: none

fix(): fix get manufacturers items
  webapp/src/components/CreateOrder.js
Due: eslint --fix

fix(): fix get manufacturers items (#129)
  webapp/src/components/CreateOrder.js
Due: eslint --fix

feat: add gs1 codes to asset mdata (#127)
  webapp/.eslintrc
  webapp/src/components/AssetHistory.js
  webapp/src/components/UpdateAssets.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/es.json
Due: prettier --write, eslint --fix

feat(): add checkpoint view
  hasura/metadata/tables.yaml
  hasura/migrations/1611105007654_alter_table_public_organization_add_column_data/down.sql
  hasura/migrations/1611105007654_alter_table_public_organization_add_column_data/up.sql
  hasura/migrations/1611280568295_alter_table_public_organization_alter_column_data/down.sql
  hasura/migrations/1611280568295_alter_table_public_organization_alter_column_data/up.sql
  webapp/src/components/OrganizationForm.js
  webapp/src/components/OrganizationInfo.js
  webapp/src/components/PieChart.js
  webapp/src/components/Sidebar.js
  webapp/src/gql/organization.gql.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/AdminHome.js
  webapp/src/routes/Organization.js
  webapp/src/routes/index.js
  webapp/src/utils/index.js
  webapp/src/utils/mock-data-dashboard.js
Due: prettier --write, eslint --fix

feat(): add checkpoint view (#131)
  hasura/metadata/tables.yaml
  hasura/migrations/1611105007654_alter_table_public_organization_add_column_data/down.sql
  hasura/migrations/1611105007654_alter_table_public_organization_add_column_data/up.sql
  hasura/migrations/1611280568295_alter_table_public_organization_alter_column_data/down.sql
  hasura/migrations/1611280568295_alter_table_public_organization_alter_column_data/up.sql
  webapp/src/components/OrganizationForm.js
  webapp/src/components/OrganizationInfo.js
  webapp/src/components/PieChart.js
  webapp/src/components/Sidebar.js
  webapp/src/gql/organization.gql.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/AdminHome.js
  webapp/src/routes/Organization.js
  webapp/src/routes/index.js
  webapp/src/utils/index.js
  webapp/src/utils/mock-data-dashboard.js
Due: prettier --write, eslint --fix

fix(): refactor create organization modal
  webapp/src/components/ComboBox.js
  webapp/src/components/OrganizationForm.js
  webapp/src/gql/organization.gql.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/Organization.js
Due: prettier --write, eslint --fix

fix(): update author permission
  hasura/metadata/tables.yaml
  webapp/src/components/OrganizationInfo.js
  webapp/src/gql/organization.gql.js
  webapp/src/language/en.json
  webapp/src/language/es.json
Due: prettier --write, eslint --fix

feat: list and view users
  webapp/src/components/UserInfo.js
  webapp/src/gql/user.gql.js
  webapp/src/language/es.json
  webapp/src/routes/User.js
Due: prettier --write, eslint --fix

List and view user (#134)
  webapp/src/components/UserInfo.js
  webapp/src/gql/user.gql.js
  webapp/src/language/es.json
  webapp/src/routes/User.js
Due: prettier --write, eslint --fix

fix(): update adminHome page
  hasura/metadata/tables.yaml
  hasura/migrations/1611678659022_alter_table_public_organization_add_column_state/down.sql
  hasura/migrations/1611678659022_alter_table_public_organization_add_column_state/up.sql
  hasura/migrations/1611678672737_alter_table_public_organization_add_column_city/down.sql
  hasura/migrations/1611678672737_alter_table_public_organization_add_column_city/up.sql
  webapp/src/App.js
  webapp/src/components/BarChart.js
  webapp/src/components/LineChart.js
  webapp/src/components/PieChart.js
  webapp/src/gql/asset.gql.js
  webapp/src/gql/organization.gql.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/AdminHome.js
  webapp/src/routes/index.js
  webapp/src/utils/admin-home-data-modeled.js
  webapp/src/utils/index.js
Due: prettier --write, eslint --fix

fix(): add people tag
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/AdminHome.js
Due: prettier --write, eslint --fix

Open Data Portal (#142)
  hasura/metadata/tables.yaml
  hasura/migrations/1611678659022_alter_table_public_organization_add_column_state/down.sql
  hasura/migrations/1611678659022_alter_table_public_organization_add_column_state/up.sql
  hasura/migrations/1611678672737_alter_table_public_organization_add_column_city/down.sql
  hasura/migrations/1611678672737_alter_table_public_organization_add_column_city/up.sql
  webapp/src/App.js
  webapp/src/components/BarChart.js
  webapp/src/components/LineChart.js
  webapp/src/components/PieChart.js
  webapp/src/gql/asset.gql.js
  webapp/src/gql/organization.gql.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/AdminHome.js
  webapp/src/routes/index.js
  webapp/src/utils/admin-home-data-modeled.js
  webapp/src/utils/index.js
Due: prettier --write, eslint --fix

fix: console error about classes wrong type
  webapp/src/components/ComboBox.js
Due: eslint --fix

fix: console error about wrong div element inside p tag
  webapp/src/components/AccordionTreeView.js
Due: eslint --fix

feat: add business logic to create GS1 assets
  hapi/src/routes/create-gs1-assets.route.js
  hapi/src/routes/index.js
  hapi/src/services/vaccine.service.js
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
Due: prettier --write, eslint --fix

feat: integrate FE with API to create GS1 assets
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/CreateGS1AssetsForm.js
  webapp/src/gql/asset.gql.js
  webapp/src/routes/Inventory.js
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{css,less,scss,graphql,gql,html,jsx,json,md,markdown,mdown,mkdn,mdx,ts,tsx,vue,yaml,yml}
  eslint --fix: any of: *.js
