Repository eoscostarica/supply-chain-poc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{css,less,scss,graphql,gql,html,jsx,json,md,markdown,mdown,mkdn,mdx,ts,tsx,vue,yaml,yml}": "prettier --write",
  "*.js": "eslint --fix"
}

fix: codefactor issues
  hapi/src/index.js
  hapi/src/services/user.service.js
  hapi/src/utils/jwt.util.js
  webapp/src/context/state.context.js
  webapp/src/routes/About.js
  webapp/src/routes/Help.js
  webapp/src/utils/on-img-error.js
Due: eslint --fix

fix: dependencies error for mui datepicker
  webapp/package.json
  webapp/yarn.lock
Due: prettier --write

feat: add combobox component with search function
  webapp/src/components/ComboBox.js
Due: eslint --fix

chore: change default role name to match the hasura default role
  webapp/src/App.js
Due: eslint --fix

fix: invalid color for links inside a snackbar
  webapp/src/components/Snackbar.js
Due: eslint --fix

fix: min width for modal component
  webapp/src/components/Modal.js
Due: eslint --fix

feat: integrate create order and batch
  webapp/src/components/CreateBatch.js
  webapp/src/components/CreateOrder.js
  webapp/src/gql/asset.gql.js
  webapp/src/gql/index.js
  webapp/src/gql/manufacturer.gql.js
  webapp/src/gql/user.gql.js
Due: eslint --fix

fix: add missing translations
  webapp/src/language/en.json
Due: prettier --write

fix: long time to build
  makefile
  webapp/package.json
Due: prettier --write

feat(): add webapp styling
  webapp/package.json
  webapp/public/logoBG.png
  webapp/public/logoInmu.png
  webapp/src/assets/logoBG.png
  webapp/src/components/Header.js
  webapp/src/components/ListItems.js
  webapp/src/components/LoginModal.js
  webapp/src/components/LogoSvg.js
  webapp/src/components/Sidebar.js
  webapp/src/components/Tabs.js
  webapp/src/layouts/Dashboard.js
  webapp/src/routes/Active.js
  webapp/src/routes/Delivery.js
  webapp/src/routes/User.js
  webapp/src/routes/index.js
  webapp/yarn.lock
Due: prettier --write, eslint --fix

refactor(Header): to use theme props
  webapp/public/logoBG.png
  webapp/src/App.js
  webapp/src/components/Header.js
  webapp/src/context/state.context.js
  webapp/src/language/en.json
  webapp/src/theme/index.js
Due: prettier --write, eslint --fix

refactor(ListItems): to use theme props
  webapp/src/components/Header.js
  webapp/src/components/ListItems.js
  webapp/src/routes/Active.js
  webapp/src/routes/Delivery.js
  webapp/src/theme/index.js
  webapp/src/theme/overrides.js
  webapp/src/theme/typography.js
Due: eslint --fix

fix: missing translation for login form
  webapp/src/components/LoginModal.js
  webapp/src/language/en.json
Due: prettier --write, eslint --fix

chore: remove unused component
  webapp/src/components/LogoSvg.js
Due: eslint --fix

refactor(Sidebar): to use theme props
  webapp/public/logo.png
  webapp/public/logoInmu.png
  webapp/src/components/LoginModal.js
  webapp/src/components/Sidebar.js
Due: eslint --fix

refactor(Tabs): allow display many contents to be more useful
  webapp/src/components/Tabs.js
  webapp/src/routes/User.js
  webapp/src/theme/breakpoints.js
Due: eslint --fix

chore(Layout): remove unnecessary padding override
  webapp/src/layouts/Dashboard.js
Due: eslint --fix

feat: implement list and add order
  hapi/src/routes/create-batch.route.js
  hapi/src/routes/create-order.route.js
  hapi/src/services/asset.service.js
  hasura/metadata/tables.yaml
  webapp/src/gql/asset.gql.js
  webapp/src/language/en.json
  webapp/src/routes/Active.js
  webapp/src/routes/Delivery.js
  webapp/src/routes/Inventory.js
  webapp/src/routes/User.js
  webapp/src/routes/index.js
Due: prettier --write, eslint --fix

devops(kubernetes): Add makefiles for k8s deployments
  .github/workflows/push-prod-environment.yaml
  build_k8s/hapi-deployment.yaml
  build_k8s/hapi-service.yaml
  build_k8s/hasura-deployment.yaml
  build_k8s/hasura-service.yaml
  build_k8s/ingress.yaml
  build_k8s/postgres-service.yaml
  build_k8s/postgres-statefulset.yaml
  build_k8s/secrets.configmap.yaml
  build_k8s/storageclass.yaml
  build_k8s/wallet-service.yaml
  build_k8s/wallet-statefulset.yaml
  build_k8s/webapp-deployment.yaml
  build_k8s/webapp-service.yaml
  docs/diagrams/state-history-fill-pg.png
  docs/diagrams/system-architecture.png
  hapi/makefile
  hasura/makefile
  kubernetes/hasura-deployment.yaml
  kubernetes/ingress.yaml
  kubernetes/postgres-deployment.yaml
  kubernetes/postgres-statefulset.yaml
  kubernetes/qa/webapp-deployment.yaml
  kubernetes/qa/webapp-service.yaml
  kubernetes/secrets.configmap.yaml
  kubernetes/storageclass.yaml
  kubernetes/wallet-statefulset.yaml
  kubernetes/webapp-deployment.yaml
  kubernetes/webapp-service.yaml
  makefile
  mkutils/help.mk
  mkutils/meta.mk
  wallet/Dockerfile
  wallet/makefile
  webapp/Dockerfile
  webapp/makefile
  webapp/package.json
Due: prettier --write

fix(kubernetes): remove build dirs
  .gitignore
  build_k8s/hapi-deployment.yaml
  build_k8s/hapi-service.yaml
  build_k8s/hasura-deployment.yaml
  build_k8s/hasura-service.yaml
  build_k8s/ingress.yaml
  build_k8s/postgres-service.yaml
  build_k8s/postgres-statefulset.yaml
  build_k8s/secrets.configmap.yaml
  build_k8s/storageclass.yaml
  build_k8s/wallet-service.yaml
  build_k8s/wallet-statefulset.yaml
  build_k8s/webapp-deployment.yaml
  build_k8s/webapp-service.yaml
  kubernetes/secrets.configmap.yaml
Due: prettier --write

ci(github): fix syntax error
  .github/workflows/push-prod-environment.yaml
Due: prettier --write

ci(github): update env vars
  .github/workflows/push-prod-environment.yaml
Due: prettier --write

fix(ci): update branch name
  mkutils/meta.mk
Due: none

fix(ci): update docker image name
  kubernetes/hapi-deployment.yaml
  kubernetes/hasura-deployment.yaml
  kubernetes/postgres-statefulset.yaml
  kubernetes/secrets.configmap.yaml
  kubernetes/wallet-statefulset.yaml
  kubernetes/webapp-deployment.yaml
  makefile
Due: prettier --write

devops(kubernetes): Add makefiles for k8s deployments (#54)
  .github/workflows/push-prod-environment.yaml
  .gitignore
  docs/diagrams/state-history-fill-pg.png
  docs/diagrams/system-architecture.png
  hapi/makefile
  hasura/makefile
  kubernetes/hasura-deployment.yaml
  kubernetes/hasura-service.yaml
  kubernetes/ingress.yaml
  kubernetes/postgres-deployment.yaml
  kubernetes/postgres-service.yaml
  kubernetes/postgres-statefulset.yaml
  kubernetes/qa/webapp-deployment.yaml
  kubernetes/qa/webapp-service.yaml
  kubernetes/secrets.configmap.yaml
  kubernetes/storageclass.yaml
  kubernetes/wallet-statefulset.yaml
  kubernetes/webapp-deployment.yaml
  kubernetes/webapp-service.yaml
  makefile
  mkutils/help.mk
  mkutils/meta.mk
  wallet/Dockerfile
  wallet/makefile
  webapp/Dockerfile
  webapp/makefile
  webapp/package.json
Due: prettier --write

fix(ci) remove verify step
  .github/workflows/push-prod-environment.yaml
Due: prettier --write

Fix/GitHub actions (#55)
  .github/workflows/push-prod-environment.yaml
Due: prettier --write

Feature/add style (#53)
  hapi/src/routes/create-batch.route.js
  hapi/src/routes/create-order.route.js
  hapi/src/services/asset.service.js
  hasura/metadata/tables.yaml
  webapp/package.json
  webapp/public/logo.png
  webapp/src/App.js
  webapp/src/assets/logoBG.png
  webapp/src/components/Header.js
  webapp/src/components/ListItems.js
  webapp/src/components/LoginModal.js
  webapp/src/components/Sidebar.js
  webapp/src/components/Tabs.js
  webapp/src/context/state.context.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/en.json
  webapp/src/layouts/Dashboard.js
  webapp/src/routes/Inventory.js
  webapp/src/routes/User.js
  webapp/src/routes/index.js
  webapp/src/theme/breakpoints.js
  webapp/src/theme/index.js
  webapp/src/theme/overrides.js
  webapp/src/theme/typography.js
  webapp/yarn.lock
Due: prettier --write, eslint --fix

feat(): add webapp styling
  webapp/public/logoBG.png
  webapp/public/logoInmu.png
  webapp/src/components/Header.js
  webapp/src/components/LogoSvg.js
  webapp/src/components/Sidebar.js
  webapp/src/layouts/Dashboard.js
  webapp/src/routes/Active.js
  webapp/src/routes/Delivery.js
Due: eslint --fix

refactor(Header): to use theme props
  webapp/public/logoBG.png
  webapp/src/components/Header.js
Due: eslint --fix

refactor(ListItems): to use theme props
  webapp/src/routes/Active.js
  webapp/src/routes/Delivery.js
Due: eslint --fix

refactor(Sidebar): to use theme props
  webapp/public/logoInmu.png
  webapp/src/components/Sidebar.js
Due: eslint --fix

fix: codefactor issue
  hapi/src/utils/simpleassets.util.js
Due: eslint --fix

feat: implement list and add order
  webapp/src/routes/Active.js
  webapp/src/routes/Delivery.js
Due: eslint --fix

fix: codefactor issues
  webapp/src/components/Header.js
Due: eslint --fix

feat: offer asset
  hapi/src/routes/create-batch.route.js
  hapi/src/routes/create-offer.route.js
  hapi/src/routes/index.js
  hapi/src/services/asset.service.js
  hapi/src/services/manufacturer.service.js
  hapi/src/services/organization.service.js
  hapi/src/services/user.service.js
  hapi/src/utils/jwt.util.js
  hapi/src/utils/simpleassets.util.js
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
  hasura/migrations/1608064270099_create_table_public_organization/down.sql
  hasura/migrations/1608064270099_create_table_public_organization/up.sql
  hasura/migrations/1608064280183_create_table_public_user/down.sql
  hasura/migrations/1608064280183_create_table_public_user/up.sql
  hasura/migrations/1608064280728_create_table_public_refresh_token/down.sql
  hasura/migrations/1608064280728_create_table_public_refresh_token/up.sql
  hasura/migrations/1608268248173_create_table_public_asset/up.sql
  hasura/migrations/1608268359150_set_fk_public_asset_parent/up.sql
  hasura/migrations/1608268817669_create_table_public_product/up.sql
  hasura/seeds/1608065539983_default_admin_user_seed.sql
  hasura/seeds/1608588356775_organization_seed.sql
  hasura/seeds/1608588356992_user_seed.sql
  hasura/seeds/1608588580741_vault_seed.sql
  hasura/seeds/1608590731783_ manufacturer_seed.sql
  hasura/seeds/1608590760438_ product_seed.sql
  makefile
  webapp/src/components/CreateBatch.js
  webapp/src/components/CreateOffer.js
  webapp/src/components/CreateOrder.js
  webapp/src/components/LoginModal.js
  webapp/src/components/Modal.js
  webapp/src/context/state.context.js
  webapp/src/gql/asset.gql.js
  webapp/src/gql/index.js
  webapp/src/gql/organization.gql.js
  webapp/src/language/en.json
  webapp/src/routes/Inventory.js
  webapp/src/routes/index.js
Due: prettier --write, eslint --fix

feat: implement detach logic for any asset
  hapi/src/routes/detach-assets.route.js
  hapi/src/routes/index.js
  hapi/src/services/asset.service.js
  hapi/src/utils/simpleassets.util.js
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
  hasura/seeds/1608588580741_vault_seed.sql
  webapp/src/components/DetachAssets.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/en.json
  webapp/src/routes/Inventory.js
Due: prettier --write, eslint --fix
