Repository eoscostarica/supply-chain-poc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{css,less,scss,graphql,gql,html,jsx,json,md,markdown,mdown,mkdn,mdx,ts,tsx,vue,yaml,yml}": "prettier --write",
  "*.js": "eslint --fix"
}

feat: add vault migration
  hasura/migrations/1608064281348_create_table_public_vault/down.sql
  hasura/migrations/1608064281348_create_table_public_vault/up.sql
Due: none

feat: add user migration
  hasura/migrations/1608064935290_create_table_public_user/down.sql
  hasura/migrations/1608064935290_create_table_public_user/up.sql
Due: none

feat: add refresh_token migration
  hasura/migrations/1608082318484_create_table_public_refresh_token/down.sql
  hasura/migrations/1608082318484_create_table_public_refresh_token/up.sql
Due: none

feat: seed data for default admin user
  hasura/seeds/1608065539983_default_admin_user_seed.sql
Due: none

chore: update metadata
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
Due: prettier --write

chore: add new env variables for login process
  .env.example
  docker-compose.yaml
  hapi/src/config/index.js
  hapi/src/config/jwt.config.js
  makefile
Due: prettier --write, eslint --fix

feat: add jwt util
  hapi/package.json
  hapi/src/index.js
  hapi/src/utils/index.js
  hapi/src/utils/jwt.util.js
  hapi/yarn.lock
  webapp/.eslintcache
  webapp/package.json
  webapp/yarn.lock
Due: prettier --write, eslint --fix

feat: add user service with login and refresh token functions
  hapi/src/services/index.js
  hapi/src/services/user.service.js
Due: eslint --fix

feat: expose apis for login and refresh tokens
  hapi/src/routes/healthz.route.js
  hapi/src/routes/healthz/healthz.handler.js
  hapi/src/routes/healthz/healthz.route.js
  hapi/src/routes/index.js
  hapi/src/routes/login.route.js
  hapi/src/routes/refresh-token.route.js
Due: eslint --fix

chore: add .prettier config for hapi project
  .gitignore
  hapi/.prettierrc
  webapp/src/App.js
  webapp/src/App.test.js
  webapp/src/components/Header.js
  webapp/src/config/ual.config.js
  webapp/src/context/state.context.js
Due: eslint --fix

chore: add .prettier config for hapi project and fix webapp test
  webapp/src/App.test.js
Due: eslint --fix

[CodeFactor] Apply fixes
  hapi/src/index.js
  hapi/src/services/user.service.js
  hapi/src/utils/jwt.util.js
Due: eslint --fix

feat: allow login for guest role
  hapi/src/services/user.service.js
  hasura/metadata/actions.yaml
  hasura/seeds/1608065539983_default_admin_user_seed.sql
Due: prettier --write, eslint --fix

refactor: update theme to work with dark and light material ui standard
  webapp/src/theme/index.js
  webapp/src/theme/palette.js
  webapp/src/theme/palettes.js
  webapp/src/theme/props.js
  webapp/src/theme/shadows.js
  webapp/src/theme/typography.js
Due: eslint --fix

feat: add title section in header and update styles to work with dark and light theme
  webapp/src/components/Header.js
Due: eslint --fix

refactor: simplify the logic for sidebar component
  webapp/src/components/Sidebar.js
Due: eslint --fix

refactor: simplify the logic for dashboard component
  webapp/src/layouts/Dashboard.js
Due: eslint --fix

refactor: load valid routes for user role
  webapp/src/routes/index.js
Due: eslint --fix

feat: add login component
  webapp/src/components/LoginModal.js
  webapp/src/components/Modal.js
  webapp/src/context/state.context.js
  webapp/src/gql/index.js
  webapp/src/gql/login.gql.js
Due: eslint --fix

feat: add snackbar component
  webapp/src/components/Snackbar.js
Due: eslint --fix

refactor: app provider architecture to can use UAL inside the shared context
  webapp/src/App.js
  webapp/src/index.js
Due: eslint --fix

refactor: add memo to components
  webapp/src/components/Footer.js
  webapp/src/components/Loader.js
  webapp/src/components/PageTitle.js
Due: eslint --fix

feat: add new componets for user routes
  webapp/src/App.test.js
  webapp/src/config/graphql.config.js
  webapp/src/routes/AdminHome.js
  webapp/src/routes/CheckpointHome.js
  webapp/src/routes/GuestHome.js
  webapp/src/routes/Home.js
  webapp/src/routes/WorkInProgress.js
Due: eslint --fix

chore: update dependencies
  .env.example
  webapp/package.json
  webapp/yarn.lock
Due: prettier --write

chore: update lenguaje files
  webapp/src/language/en.json
  webapp/src/language/es.json
Due: prettier --write

chore: update prettier config
  .prettierrc
  hapi/.prettierrc
  webapp/.prettierrc
Due: none

integrate login (#50)
  .env.example
  .prettierrc
  hapi/.prettierrc
  hapi/src/services/user.service.js
  hasura/metadata/actions.yaml
  hasura/seeds/1608065539983_default_admin_user_seed.sql
  webapp/.prettierrc
  webapp/package.json
  webapp/src/App.js
  webapp/src/App.test.js
  webapp/src/components/Footer.js
  webapp/src/components/Header.js
  webapp/src/components/Loader.js
  webapp/src/components/LoginModal.js
  webapp/src/components/Modal.js
  webapp/src/components/PageTitle.js
  webapp/src/components/Sidebar.js
  webapp/src/components/Snackbar.js
  webapp/src/config/graphql.config.js
  webapp/src/context/state.context.js
  webapp/src/gql/index.js
  webapp/src/gql/login.gql.js
  webapp/src/index.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/layouts/Dashboard.js
  webapp/src/routes/AdminHome.js
  webapp/src/routes/CheckpointHome.js
  webapp/src/routes/GuestHome.js
  webapp/src/routes/Home.js
  webapp/src/routes/WorkInProgress.js
  webapp/src/routes/index.js
  webapp/src/theme/index.js
  webapp/src/theme/palette.js
  webapp/src/theme/palettes.js
  webapp/src/theme/props.js
  webapp/src/theme/shadows.js
  webapp/src/theme/typography.js
  webapp/yarn.lock
Due: prettier --write, eslint --fix

fix: codefactor issues
  hapi/src/utils/eos.util.js
  webapp/src/components/Footer.js
  webapp/src/components/Header.js
  webapp/src/components/LoginModal.js
  webapp/src/components/Modal.js
  webapp/src/components/Sidebar.js
  webapp/src/layouts/Dashboard.js
  webapp/src/routes/AdminHome.js
  webapp/src/routes/CheckpointHome.js
  webapp/src/routes/GuestHome.js
  webapp/src/routes/Route404.js
  webapp/src/routes/WorkInProgress.js
  webapp/src/routes/index.js
  webapp/src/serviceWorker.js
  webapp/src/theme/index.js
Due: eslint --fix

fix: codefactor issues (#51)
  hapi/src/utils/eos.util.js
  webapp/src/components/Footer.js
  webapp/src/components/Header.js
  webapp/src/components/LoginModal.js
  webapp/src/components/Modal.js
  webapp/src/components/Sidebar.js
  webapp/src/layouts/Dashboard.js
  webapp/src/routes/AdminHome.js
  webapp/src/routes/CheckpointHome.js
  webapp/src/routes/GuestHome.js
  webapp/src/routes/Route404.js
  webapp/src/routes/WorkInProgress.js
  webapp/src/routes/index.js
  webapp/src/serviceWorker.js
  webapp/src/theme/index.js
Due: eslint --fix

feat: add util to connect with simple asset smart contract
  .env.example
  hapi/src/utils/index.js
  hapi/src/utils/simpleassets.util.js
Due: eslint --fix

chore: add asset table
  hasura/migrations/1608268248173_create_table_public_asset/down.sql
  hasura/migrations/1608268248173_create_table_public_asset/up.sql
Due: none

chore: allow nested assets
  hasura/migrations/1608268359150_set_fk_public_asset_parent/down.sql
  hasura/migrations/1608268359150_set_fk_public_asset_parent/up.sql
Due: none

chore: add manufacturer table
  hasura/migrations/1608268639857_create_table_public_manufacturer/down.sql
  hasura/migrations/1608268639857_create_table_public_manufacturer/up.sql
Due: none

chore: add product table
  hasura/migrations/1608268817669_create_table_public_product/down.sql
  hasura/migrations/1608268817669_create_table_public_product/up.sql
Due: none

chore: change admin role to author role to avoid problems with hasura default role
  hasura/seeds/1608065539983_default_admin_user_seed.sql
  webapp/src/routes/index.js
Due: eslint --fix

chore: export hasura metadata
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
Due: prettier --write

feat: add basic vault service
  hapi/src/services/index.js
  hapi/src/services/vault.service.js
Due: eslint --fix

feat: add manufacturer service
  hapi/src/services/index.js
  hapi/src/services/manufacturer.service.js
Due: eslint --fix

feat: add product service
  hapi/src/services/index.js
  hapi/src/services/product.service.js
Due: eslint --fix

feat: add create order and create batch endpoints
  docker-compose.yaml
  hapi/src/config/index.js
  hapi/src/config/simpleassets.config.js
  hapi/src/routes/create-batch.route.js
  hapi/src/routes/create-order.route.js
  hapi/src/routes/index.js
  hapi/src/services/asset.service.js
  hapi/src/services/index.js
Due: prettier --write, eslint --fix
