Repository eoscostarica/supply-chain-poc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: return key on create order
  hapi/src/services/asset.service.js
  hasura/metadata/actions.graphql
  webapp/src/gql/asset.gql.js
Due: prettier --write, eslint --fix

feat: return asset key id on create batch mutation
  hapi/src/services/asset.service.js
  hasura/metadata/actions.graphql
  webapp/src/gql/asset.gql.js
Due: prettier --write, eslint --fix

feat: allow claim offer
  hapi/src/routes/claim-offer.route.js
  hapi/src/routes/index.js
  hapi/src/services/asset.service.js
  hapi/src/utils/simpleassets.util.js
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
  webapp/src/App.js
  webapp/src/components/ClaimOffer.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/en.json
  webapp/src/routes/Inventory.js
Due: prettier --write, eslint --fix

feat: allow update asset data
  hapi/src/routes/index.js
  hapi/src/routes/update-assets.js
  hapi/src/services/asset.service.js
  hapi/src/utils/simpleassets.util.js
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  webapp/src/components/UpdateAssets.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/en.json
  webapp/src/routes/Inventory.js
Due: prettier --write, eslint --fix

fix: codefactor issue
  webapp/src/components/UpdateAssets.js
Due: eslint --fix

fix: error when seeds are already applied
  makefile
Due: none

fix: wrong owner for nested assets after claim an offer
  .env.example
  hapi/src/services/asset.service.js
Due: eslint --fix

fix: show add button only for author role
  webapp/src/gql/asset.gql.js
  webapp/src/routes/Inventory.js
Due: eslint --fix

fix(ci) improve make files and k8s manifests
  .github/workflows/push-prod-environment.yaml
  hasura/Dockerfile
  hasura/makefile
  kubernetes/hapi-deployment.yaml
  kubernetes/hapi-service.yaml
  kubernetes/hasura-deployment.yaml
  kubernetes/hasura-service.yaml
  kubernetes/inmutrust-ingress.yaml
  kubernetes/inmutrust-storageclass.yaml
  kubernetes/postgres-service.yaml
  kubernetes/postgres-statefulset.yaml
  kubernetes/secrets.configmap.yaml
  kubernetes/wallet-service.yaml
  kubernetes/wallet-statefulset.yaml
  kubernetes/webapp-deployment.yaml
  kubernetes/webapp-service.yaml
  makefile
  mkutils/meta.mk
Due: prettier --write

ci(webapp): set webapp service and nginx port
  .github/workflows/push-prod-environment.yaml
  kubernetes/inmutrust-ingress.yaml
  kubernetes/webapp-deployment.yaml
  webapp/Dockerfile
Due: prettier --write

fix(ci) improve make files and k8s manifests (#69)
  .github/workflows/push-prod-environment.yaml
  hasura/Dockerfile
  hasura/makefile
  kubernetes/hapi-deployment.yaml
  kubernetes/hapi-service.yaml
  kubernetes/hasura-deployment.yaml
  kubernetes/hasura-service.yaml
  kubernetes/inmutrust-ingress.yaml
  kubernetes/inmutrust-storageclass.yaml
  kubernetes/postgres-service.yaml
  kubernetes/postgres-statefulset.yaml
  kubernetes/secrets.configmap.yaml
  kubernetes/wallet-service.yaml
  kubernetes/wallet-statefulset.yaml
  kubernetes/webapp-deployment.yaml
  kubernetes/webapp-service.yaml
  makefile
  mkutils/meta.mk
  webapp/Dockerfile
Due: prettier --write

ci(docker): set docker hub login credentials
  .github/workflows/push-prod-environment.yaml
Due: prettier --write

Add docker hub login (#70)
  .github/workflows/push-prod-environment.yaml
Due: prettier --write

fix(envvar): set environmental variables
  .env.example
  .github/workflows/push-prod-environment.yaml
Due: prettier --write

fix(envvar): set environmental variables (#71)
  .env.example
  .github/workflows/push-prod-environment.yaml
Due: prettier --write

Claim offer (#68)
  .env.example
  hapi/src/routes/claim-offer.route.js
  hapi/src/routes/index.js
  hapi/src/routes/update-assets.js
  hapi/src/services/asset.service.js
  hapi/src/utils/simpleassets.util.js
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
  makefile
  webapp/src/App.js
  webapp/src/components/ClaimOffer.js
  webapp/src/components/UpdateAssets.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/en.json
  webapp/src/routes/Inventory.js
Due: prettier --write, eslint --fix

fix(envvar): set hasura URL environmental variable
  .github/workflows/push-prod-environment.yaml
  mkutils/meta.mk
Due: prettier --write

fix(envvar): set hasura URL environmental variable (#72)
  .github/workflows/push-prod-environment.yaml
  mkutils/meta.mk
Due: prettier --write

feat(): list user gql
  hapi/src/services/asset.service.js
  webapp/package.json
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/CreateBatch.js
  webapp/src/components/CreateOrder.js
  webapp/src/components/Header.js
  webapp/src/components/ListItems.js
  webapp/src/components/Modal.js
  webapp/src/gql/asset.gql.js
  webapp/src/gql/user.gql.js
  webapp/src/i18n.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
  webapp/src/routes/User.js
  webapp/src/routes/index.js
  webapp/src/utils/asset-info-format.js
  webapp/src/utils/index.js
  webapp/yarn.lock
Due: prettier --write, eslint --fix

feat(): list user gql (#73)
  hapi/src/services/asset.service.js
  webapp/package.json
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/CreateBatch.js
  webapp/src/components/CreateOrder.js
  webapp/src/components/Header.js
  webapp/src/components/ListItems.js
  webapp/src/components/Modal.js
  webapp/src/gql/asset.gql.js
  webapp/src/gql/user.gql.js
  webapp/src/i18n.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
  webapp/src/routes/User.js
  webapp/src/routes/index.js
  webapp/src/utils/asset-info-format.js
  webapp/src/utils/index.js
  webapp/yarn.lock
Due: prettier --write, eslint --fix

fix(envvar): set hasura URL environmental variable
  .env.example
  .github/workflows/push-prod-environment.yaml
  hasura/metadata/actions.yaml
  kubernetes/hasura-deployment.yaml
Due: prettier --write

fix(envvar): fix name in env.example
  .env.example
Due: none

fix(envvar): fix var name in actions metadata
  hasura/metadata/actions.yaml
Due: prettier --write

fix(envvar): fix hasura cmd arguments
  hasura/Dockerfile
Due: none

fix(hasura): fix hasura cmd arguments
  hasura/Dockerfile
Due: none

fix(hasura): fix hasura cmd arguments
  hasura/Dockerfile
  kubernetes/hasura-deployment.yaml
Due: prettier --write

fix(hasura): format actions handler env var
  hasura/metadata/actions.yaml
Due: prettier --write

fix(envvar): set hasura actions URL environmental variable (#74)
  .env.example
  .github/workflows/push-prod-environment.yaml
  hasura/metadata/actions.yaml
  kubernetes/hasura-deployment.yaml
Due: prettier --write

feat(): add desktop view and refactor breakpoints
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/CreateBatch.js
  webapp/src/components/CreateOrder.js
  webapp/src/components/ListItems.js
  webapp/src/components/OrderInfo.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/layouts/Dashboard.js
  webapp/src/routes/Inventory.js
  webapp/src/utils/index.js
  webapp/src/utils/modeled-data.js
Due: prettier --write, eslint --fix

feat(): add action available and modeled data
  docker-compose.yaml
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/ListItems.js
  webapp/src/components/OrderInfo.js
  webapp/src/gql/asset.gql.js
  webapp/src/routes/Inventory.js
  webapp/src/utils/modeled-data.js
Due: prettier --write, eslint --fix

feat(): add action available and modeled data (#85)
  docker-compose.yaml
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/ListItems.js
  webapp/src/components/OrderInfo.js
  webapp/src/gql/asset.gql.js
  webapp/src/routes/Inventory.js
  webapp/src/utils/modeled-data.js
Due: prettier --write, eslint --fix

feat(): wip
  hapi/src/config/eos.config.js
  webapp/src/components/CreateOrder.js
  webapp/src/components/OrderInfo.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
Due: prettier --write, eslint --fix

feat(): add info order as modal (secondary page)
  hapi/src/config/eos.config.js
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/CreateBatch.js
  webapp/src/components/CreateOrder.js
  webapp/src/components/Modal.js
  webapp/src/components/OrderInfo.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
Due: prettier --write, eslint --fix

Secondary view (#87)
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/CreateBatch.js
  webapp/src/components/CreateOrder.js
  webapp/src/components/Modal.js
  webapp/src/components/OrderInfo.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
Due: prettier --write, eslint --fix

feat: add vaccination process
  hapi/src/routes/create-batch.route.js
  hapi/src/routes/create-order.route.js
  hapi/src/routes/index.js
  hapi/src/routes/vaccination.route.js
  hapi/src/services/asset.service.js
  hapi/src/services/index.js
  hapi/src/services/vaccine.service.js
  hapi/src/utils/simpleassets.util.js
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
  hasura/migrations/1609763796231_create_table_public_vaccination/down.sql
  hasura/migrations/1609763796231_create_table_public_vaccination/up.sql
  hasura/migrations/1609865383288_create_table_public_person/down.sql
  hasura/migrations/1609865383288_create_table_public_person/up.sql
  hasura/seeds/1608588356992_user_seed.sql
  hasura/seeds/1608588580741_vault_seed.sql
  webapp/src/components/CreateOffer.js
  webapp/src/components/Tabs.js
  webapp/src/components/Vaccinate.js
  webapp/src/gql/asset.gql.js
  webapp/src/gql/index.js
  webapp/src/gql/person.gql.js
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
  webapp/src/routes/index.js
Due: prettier --write, eslint --fix

feat: add vaccinate form
  webapp/src/routes/Inventory.js
Due: eslint --fix

feat(baas): Add blockchain install script
  contracts/deploy-inmutrust.sh
  contracts/last.nft
  contracts/simpleassets/SimpleAssets.abi
  contracts/simpleassets/SimpleAssets.wasm
Due: none

Path conditions:
  prettier --write: any of: *.{css,less,scss,graphql,gql,html,jsx,json,md,markdown,mdown,mkdn,mdx,ts,tsx,vue,yaml,yml}
  eslint --fix: any of: *.js
