Repository eoscostarica/supply-chain-poc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{css,less,scss,graphql,gql,html,jsx,json,md,markdown,mdown,mkdn,mdx,ts,tsx,vue,yaml,yml}": "prettier --write",
  "*.js": "eslint --fix"
}

fix: error on display GS1 assets
  webapp/src/utils/asset-info-format.js
  webapp/src/utils/get-asset-info.js
  webapp/src/utils/index.js
  webapp/src/utils/modeled-data.js
Due: eslint --fix

feat: add gs1 codes according to the asset type
  webapp/src/components/AssetInfo.js
  webapp/src/components/UpdateAssets.js
  webapp/src/language/es.json
Due: prettier --write, eslint --fix

Feature/gs1 (#147)
  hapi/src/routes/create-gs1-assets.route.js
  hapi/src/routes/index.js
  hapi/src/services/vaccine.service.js
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/AssetInfo.js
  webapp/src/components/ComboBox.js
  webapp/src/components/CreateGS1AssetsForm.js
  webapp/src/components/UpdateAssets.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
  webapp/src/utils/asset-info-format.js
  webapp/src/utils/get-asset-info.js
  webapp/src/utils/index.js
  webapp/src/utils/modeled-data.js
Due: prettier --write, eslint --fix

fix(): add map with multiples locations
  webapp/src/components/MapShowLocations.js
  webapp/src/routes/AdminHome.js
Due: eslint --fix

fix(dashboard): set max height on card items
  hasura/metadata/tables.yaml
  webapp/src/components/BarChart.js
  webapp/src/components/LineChart.js
  webapp/src/components/MapShowLocations.js
  webapp/src/routes/AdminHome.js
Due: prettier --write, eslint --fix

Map locations (#150)
  hasura/metadata/tables.yaml
  webapp/src/components/BarChart.js
  webapp/src/components/LineChart.js
  webapp/src/components/MapShowLocations.js
  webapp/src/routes/AdminHome.js
Due: prettier --write, eslint --fix

fix: console error about wrong div element inside p tag
  webapp/src/components/AccordionTreeView.js
Due: eslint --fix

feat: add business logic to create GS1 assets
  webapp/src/components/AccordionTreeView.js
Due: eslint --fix

refactor: inventory route to use new layout
  webapp/src/components/AssetInfo.js
  webapp/src/components/Loader.js
  webapp/src/components/TabPanel.js
  webapp/src/components/Tabs.js
  webapp/src/language/es.json
  webapp/src/layouts/MasterDetail.js
  webapp/src/routes/Inventory.js
Due: prettier --write, eslint --fix

refactor: use batch and order as properties instance of assets in blockchain
  hapi/src/routes/create-gs1-assets.route.js
  hapi/src/services/manufacturer.service.js
  hapi/src/services/vaccine.service.js
  hasura/metadata/actions.graphql
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/AssetHistory.js
  webapp/src/components/AssetInfo.js
  webapp/src/components/CreateGS1AssetsForm.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
  webapp/src/utils/get-asset-actions.js
  webapp/src/utils/get-asset-fields.js
  webapp/src/utils/get-asset-info.js
  webapp/src/utils/get-last-chars.js
  webapp/src/utils/index.js
Due: prettier --write, eslint --fix

Feature/gs1 (#151)
  hapi/src/routes/create-gs1-assets.route.js
  hapi/src/services/manufacturer.service.js
  hapi/src/services/vaccine.service.js
  hasura/metadata/actions.graphql
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/AssetHistory.js
  webapp/src/components/AssetInfo.js
  webapp/src/components/CreateGS1AssetsForm.js
  webapp/src/components/Loader.js
  webapp/src/components/TabPanel.js
  webapp/src/components/Tabs.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/es.json
  webapp/src/layouts/MasterDetail.js
  webapp/src/routes/Inventory.js
  webapp/src/utils/get-asset-actions.js
  webapp/src/utils/get-asset-fields.js
  webapp/src/utils/get-asset-info.js
  webapp/src/utils/get-last-chars.js
  webapp/src/utils/index.js
Due: prettier --write, eslint --fix

feat(wallet): import wallet seed data
  kubernetes/hapi-deployment.yaml
  kubernetes/wallet-statefulset.yaml
  makefile
Due: prettier --write

docs(readme): update first time run instructions
  docs/diagrams/logo.png
  readme.md
Due: prettier --write

feat(wallet): import wallet seed data (#157)
  kubernetes/hapi-deployment.yaml
  kubernetes/wallet-statefulset.yaml
  makefile
Due: prettier --write

refactor: use batch and order as properties instance of assets in blockchain
  webapp/src/routes/Inventory.js
Due: eslint --fix

feat: add grai, sscc and gtin codes to asset history
  webapp/src/components/AssetHistory.js
  webapp/src/language/es.json
Due: prettier --write, eslint --fix

refactor: rename batch to lot
  hapi/src/routes/create-gs1-assets.route.js
  hapi/src/routes/vaccination.route.js
  hapi/src/services/vaccine.service.js
  hasura/metadata/actions.graphql
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/CreateGS1AssetsForm.js
  webapp/src/components/Vaccinate.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
  webapp/src/utils/get-asset-fields.js
Due: prettier --write, eslint --fix

fix: bugs relates to vaccination process
  hapi/src/services/vaccine.service.js
  webapp/src/components/ClaimOffer.js
  webapp/src/components/Vaccinate.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
Due: prettier --write, eslint --fix

fix(dashboard): Show real data into bar chart
  hasura/metadata/tables.yaml
  webapp/src/components/BarChart.js
  webapp/src/gql/adminHome.gql.js
  webapp/src/gql/index.js
  webapp/src/routes/AdminHome.js
Due: prettier --write, eslint --fix

[CodeFactor] Apply fixes
  hapi/src/routes/create-gs1-assets.route.js
Due: eslint --fix

Bugfix for vaccination issues (#159)
  hapi/src/routes/create-gs1-assets.route.js
  hapi/src/routes/vaccination.route.js
  hapi/src/services/vaccine.service.js
  hasura/metadata/actions.graphql
  webapp/src/components/AccordionTreeView.js
  webapp/src/components/AssetHistory.js
  webapp/src/components/ClaimOffer.js
  webapp/src/components/CreateGS1AssetsForm.js
  webapp/src/components/Vaccinate.js
  webapp/src/gql/asset.gql.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/Inventory.js
  webapp/src/utils/get-asset-fields.js
Due: prettier --write, eslint --fix

fix(dashboard): Show real data into bar chart (#160)
  hasura/metadata/tables.yaml
  webapp/src/components/BarChart.js
  webapp/src/gql/adminHome.gql.js
  webapp/src/gql/index.js
  webapp/src/routes/AdminHome.js
Due: prettier --write, eslint --fix

docs(readme): update first time run instructions (#158)
  docs/diagrams/logo.png
  readme.md
Due: prettier --write

fix(): redirect to home after logout
  hasura/metadata/tables.yaml
  webapp/src/components/Header.js
  webapp/src/components/MapShowLocations.js
  webapp/src/routes/AdminHome.js
Due: prettier --write, eslint --fix

fix(): redirect to home after logout (#161)
  hasura/metadata/tables.yaml
  webapp/src/components/Header.js
  webapp/src/components/MapShowLocations.js
  webapp/src/routes/AdminHome.js
Due: prettier --write, eslint --fix

docs(readme): add inmutrust logo
  readme.md
Due: prettier --write

docs(readme): update readme
  readme.md
Due: prettier --write

docs(readme): update reade
  readme.md
Due: prettier --write

Docs/update readme 3 (#162)
  readme.md
Due: prettier --write

Docs/update readme 3 (#163)
  readme.md
Due: prettier --write

fix(): validate required fields
  webapp/src/components/CreateGS1AssetsForm.js
  webapp/src/components/MapEditLocation.js
  webapp/src/components/UpdateAssets.js
  webapp/src/language/en.json
  webapp/src/language/es.json
Due: prettier --write, eslint --fix

fix(): validate required fields (#174)
  webapp/src/components/CreateGS1AssetsForm.js
  webapp/src/components/MapEditLocation.js
  webapp/src/components/UpdateAssets.js
  webapp/src/language/en.json
  webapp/src/language/es.json
Due: prettier --write, eslint --fix

fix(admin home): order info breakpoints and fix admin home
  webapp/src/components/AssetInfo.js
  webapp/src/components/BarChart.js
  webapp/src/routes/AdminHome.js
  webapp/src/utils/admin-home-data-modeled.js
Due: eslint --fix
